
<div class="row half-vertical-gutters align-middle">
  <!-- <div class="column shrink"><a id="mnav"><i class="icon reorder"></i></a></div> -->
  <div class="column">
    <div class="wojo small breadcrumb"> <div class="active section">Data Upload</div> </div>
  </div>
  <div class="column shrink padding-right">
    <div class="wojo top right pointing dropdown" tabindex="0"><img src="assets/images/blank.png" alt="" class="wojo basic tiny circular image">
      <div class="menu" tabindex="-1"> <a class="item" href=""><!-- <i class="icon note"></i> --> 
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> My Account</a> 
      <a class="item" href=""> <!-- <i class="icon lock"></i> -->
      <i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a> </div>
    </div>
  </div>
    <div class="column shrink padding-right">
    <div class="wojo top right pointing dropdown" tabindex="0">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <div class="menu" tabindex="-1"> <a class="item" href="">Permissions</a> 
      <a class="item" href="">Payment Options</a> 
      <a class="item" href="">Transactions</a>
      <a class="item" href="">System</a>
      <a class="item" href="">Trash</a>
      </div>
    </div>
  </div>
    <div class="column shrink"><a href="">
    <i class="fa fa-power-off" aria-hidden="true"></i></a></div>
</div><h3>Repayment</h3>
<div class="wojo segment">
  <div class="row gutters">
    <div class="column ">
      <div class="upload">
          <label for="file-upload" class="custom-file-upload">
            <img src="assets/images/upload.png"/><br/>Upload csv file
          </label>
          <input id="file-upload" type="file"/>
      </div>
      <div class="download">
        <a href="" class="custom-file-download">
          <img src="assets/images/download.png"/><br/>Sample csv file
        </a>
      </div>
        
    </div>
  </div>
  
  </div>