
<div class="row half-vertical-gutters align-middle">
  <!-- <div class="column shrink"><a id="mnav"><i class="icon reorder"></i></a></div> -->
  <div class="column">
    <div class="wojo small breadcrumb"> <div class="active section">Data Upload</div> </div>
  </div>
  <div class="column shrink padding-right">
    <div class="wojo top right pointing dropdown" tabindex="0"><img src="assets/images/blank.png" alt="" class="wojo basic tiny circular image">
      <div class="menu" tabindex="-1"> <a class="item" href=""><!-- <i class="icon note"></i> --> 
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> My Account</a> 
      <a class="item" href=""> <!-- <i class="icon lock"></i> -->
      <i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a> </div>
    </div>
  </div>
    <div class="column shrink padding-right">
    <div class="wojo top right pointing dropdown" tabindex="0">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <div class="menu" tabindex="-1"> <a class="item" href="">Permissions</a> 
      <a class="item" href="">Payment Options</a> 
      <a class="item" href="">Transactions</a>
      <a class="item" href="">System</a>
      <a class="item" href="">Trash</a>
      </div>
    </div>
  </div>
    <div class="column shrink"><a href="">
    <i class="fa fa-power-off" aria-hidden="true"></i></a></div>
</div>
<h3>Single Record</h3>
<div class="wojo segment">
  <div class="row gutters">
    <div class="column ">
      <div class="singlerec">
        <form>
          <label>Enter PAN Number</label>
          <div class="col-2"><input type="Number" name="enterpan" placeholder="Enter Pan Number" class="inputxt"></div>
        </form>
      </div>
        
    </div>
  </div>
</div>
