<style>
       
       .container-fluid{
            display :none;
        }
        .sidebar{
            display :none;
        }
      body {font-family: Arial, Helvetica, sans-serif;background-color: #ffff;}
      .loginarea form {border: 3px solid #f1f1f1;}
      
      .loginarea input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
      }
      
      .loginarea button {
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
      }
      
      .loginarea button:hover {
          opacity: 0.8;
      }
      
      .loginarea .cancelbtn {
          width: auto;
          padding: 10px 18px;
          background-color: #f44336;
      }
      
      .loginarea .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
      }
      
      .loginarea img.avatar {
          width: 10%;
          border-radius: 50%;
      }
      
      .loginarea .container {
          padding: 16px;
      }
      
      .loginarea span.psw {
          float: right;
          padding-top: 16px;
      }
      
      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        .loginarea span.psw {
             display: block;
             float: none;
          }
          .loginarea .cancelbtn {
             width: 100%;
          }
      }
    
      .loginarea{width: 500px; margin: auto;}
    </style>
    <div class="loginarea">  
    <h2 class="text-center">Login Form</h2>
      
      <form action="/action_page.php">
        
      
        <div class="container" style = "width: 100%;">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
              
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1; width: 100%;">
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>