@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
/* @import url(../css/font-awesome/css/font-awesome.min.css); */

@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_free_light-webfont.woff2') format('woff2'), url('../fonts/nexa_free_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_regularregular';
    src: url('../fonts/fontfabric_-_nexaregular-webfont.woff2') format('woff2'), url('../fonts/fontfabric_-_nexaregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_free_bold-webfont.woff2') format('woff2'), url('../fonts/nexa_free_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.shrink i{color: #666;}
.content{padding: 20px 0px;}
.upload{float: left; text-align: center; margin: 10px 150px; padding:5px 5px; background: #f0f0f0; border-radius: 5px;}
.download{float: right; text-align: center; margin: 40px 150px 0px 70px; padding: 5px 5px; font-size: 13px; background: #f0f0f0; border-radius: 5px;}
input[type="file"] {
    display: none;
}
.custom-file-upload, .custom-file-download{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #000;
}
.inputxt{padding: 10px 5px; border-radius: 3px; border: 1px solid #ccc; width: 100%}
.inputxt:focus{box-shadow: 0px 0px 5px #07529d; border: 0;}
.col-1{width: 25%;}
.col-2{width: 50%;}
.col-3{width: 75%;}
.col-4{width: 100%;}
.singlerec label{font-size: 13px; padding-bottom: 5px; float: left;}
.singlerec input[type='number']{ font-size: 16px; }
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.upload img{width: 60px;}
.offset0{margin: 0px !important;padding: 0px !important; padding-top: 35px !important;}
.container-view{width:80%; float: left; padding-left: 40px; background: #ECF0F1;  border-radius: 0 7px 0 0;min-height: 600px}
.foot{background-color: #B4C1C7;
    border-radius: 0 0 .250rem .250rem;
    padding: 1em 1.3em;}
.list-group-item{background: transparent; border: 0px; color: #fff;}
a.list-group-item:hover, a.list-group-item:focus{background: transparent;}
a.list-group-item{color: #fff; padding-left: 0px;}
input[type="button"]{border: 0;background: #07529d;color: #fff;}
.fileupload{text-align: center;padding-right: 50px;}
