<html ng-app="P2PX" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- font awesome from BootstrapCDN -->
    <link href="build/assets/font-awesome/css/font-awesome.min.css" type="text/html" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <link rel="stylesheet" type="text/css" href="build/assets/css/master_main.css">
    <link rel="stylesheet" type="text/css" href="build/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <div class="offset0">
        <aside> <a id="mnav-alt"><i class="icon reorder"></i></a> <a href="" class="logo"><img src="assets/images/logo.png" alt="Membership Manager"></a>
          <div class="menuwrap">
            <nav>
              <ul>
                <li class="active"><a href="#/home"><img src="assets/images/dash.svg">Dashboard</a> </li>
                <li><a href="#sub-menu2" data-toggle="collapse"><img src="assets/images/content.svg"> Data upload <span class="caret"></span></a>
                    <div class="collapse" id="sub-menu2">
                      <a href="#/disdataupload">Disbursal</a>
                      <a href="#/repayment">Repayment</a>
                  </div> 
                </li>
                <li><a href="#sub-menu3" data-toggle="collapse"><img src="assets/images/users.svg"> Customer exposure <span class="caret"></span></a>
                  <div class="collapse" id="sub-menu3">
                      <a href="#/singlerecord">Single Record</a>
                      <a href="#/multirecords">Multi Records</a>
                  </div>
                </li>
                <li><a href=""><img src="assets/images/membership.svg"> Investor exposure</a></li>
                <li><a href=""><img src="assets/images/files.svg"> Complaints</a></li>
                <li><a ><img src="assets/images/settings.svg"> Subscriptions</a></li>
                <li><a href=""><img src="assets/images/help.svg"> Breaches</a></li>
                <li><a href=""><img src="assets/images/help.svg"> Configuration</a></li>
              </ul>
            </nav>
          </div>
        </aside>
        </div>
    <div class="container-view " ui-view="main"></div>

  </body>
        
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Error Message</h4>
      </div>
      <div class="modal-body">
        <p>{{errMsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
</html>
