<h1>Hi we are here in the upload documents page</h1>
<div>
    <input id = "file" type="file" file-model="myFile"/>
    <button ng-click="uploadFile()">upload me</button>
</div>
<div>
    <form method="get" action="http://localhost:5000/downloadSample">
        <input type="submit" value="Download Sample" />
    </form>
    <span style="color:red">Please Make sure the coloumn names of the uploading files should be same as shown in the sample.</span>
</div>
<span>
  <div>
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>
</span>

