
<div class="row half-vertical-gutters align-middle">
        <!-- <div class="column shrink"><a id="mnav"><i class="icon reorder"></i></a></div> -->
        <div class="column">
          <div class="wojo small breadcrumb"> <div class="active section">Home</div> </div>
        </div>
        <div class="column shrink padding-right">
          <div class="wojo top right pointing dropdown" tabindex="0"><img src="assets/images/blank.png" alt="" class="wojo basic tiny circular image">
            <div class="menu" tabindex="-1"> <a class="item" href=""><!-- <i class="icon note"></i> --> 
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> My Account</a> 
            <a class="item" href=""> <!-- <i class="icon lock"></i> -->
            <i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a> </div>
          </div>
        </div>
          <div class="column shrink padding-right">
          <div class="wojo top right pointing dropdown" tabindex="0">
            <!-- <i class="icon black apps link"></i> --> <i class="fa fa-bars" aria-hidden="true"></i>
            <div class="menu" tabindex="-1"> <a class="item" href="">Permissions</a> 
            <a class="item" href="">Payment Options</a> 
            <a class="item" href="">Transactions</a>
            <a class="item" href="">System</a>
            <a class="item" href="">Trash</a>
            </div>
          </div>
        </div>
          <div class="column shrink"><a href="">
          <!-- <i class="icon black power link"></i> --><i class="fa fa-power-off" aria-hidden="true"></i></a></div>
</div><h3>Welcome to dashboard</h3>
<div class="wojo segment">
        <div class="row gutters">
          <div class="column screen-25 tablet-50 mobile-50 phone-100">
            <div class="wojo card">
              <div class="content content-center"><span class="wojo positive basic circular gigantic label">18</span></div>
              <div class="foot content-center wojo white text">Total Users</div>
            </div>
          </div>
          <div class="column screen-25 tablet-50 mobile-50 phone-100">
            <div class="wojo card">
              <div class="content content-center"><span class="wojo secondary basic circular gigantic label">14</span></div>
              <div class="foot content-center wojo white text">Successful</div>
            </div>
          </div>
          <div class="column screen-25 tablet-50 mobile-50 phone-100">
            <div class="wojo card">
              <div class="content content-center"><span class="wojo negative basic circular gigantic label">1</span></div>
              <div class="foot content-center wojo white text">Unsuccessful</div>
            </div>
          </div>
          <div class="column screen-25 tablet-50 mobile-50 phone-100">
            <div class="wojo card">
              <div class="content content-center"><span class="wojo primary basic circular gigantic label">16</span></div>
              <div class="foot content-center wojo white text">Tickets</div>
            </div>
          </div>
        </div>
          <h4>Total collected all time</h4>
    
      
        <h4>Sales By Membership</h4>
        <div id="legend2" class="wojo small horizontal list align-right"><div class="item"><span class="wojo tiny empty circular label" style="background:#2196f3"> </span> Trial</div><div class="item"><span class="wojo tiny empty circular label" style="background:#e91e63"> </span> Bronze</div><div class="item"><span class="wojo tiny empty circular label" style="background:#4caf50"> </span> Gold</div><div class="item"><span class="wojo tiny empty circular label" style="background:#ff9800"> </span> Platinum</div></div>
      
        
</div>